scripts/xml/cs_world.xsd

<?xml version = '1.0' encoding = 'UTF-8' ?>
<!--      edited with XML Spy v4.4 U (http://www.xmlspy.com) by Jorrit Tyberghein (private)      -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="meshobj">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element minOccurs="0" name="zfill"/>
				<xs:element name="plugin" type="xs:string"/>
				<xs:element name="params">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element maxOccurs="unbounded" minOccurs="0" ref="v"/>
							<xs:element minOccurs="0" name="texlen" type="xs:string"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" ref="p"/>
							<xs:element minOccurs="0" name="factory" type="xs:string"/>
							<xs:element minOccurs="0" name="mixmode">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="multiply2"/>
										<xs:element minOccurs="0" name="add"/>
										<xs:element minOccurs="0" name="copy"/>
										<xs:element minOccurs="0" name="multiply"/>
										<xs:element minOccurs="0" name="tiling"/>
										<xs:element minOccurs="0" name="alpha"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="number" type="xs:string"/>
							<xs:element minOccurs="0" name="material" type="xs:string"/>
							<xs:element name="origin" type="vector3"/>
							<xs:element minOccurs="0" name="dropsize">
								<xs:complexType>
									<xs:attribute name="w" type="xs:string"/>
									<xs:attribute name="h" type="xs:string"/>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="lighting" type="xs:string"/>
							<xs:element minOccurs="0" name="swirl" type="xs:string"/>
							<xs:element minOccurs="0" name="colorscale" type="xs:string"/>
							<xs:element minOccurs="0" name="box">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="min" type="vector3"/>
										<xs:element name="max" type="vector3"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" ref="color"/>
							<xs:element minOccurs="0" name="fallspeed" type="vector3"/>
							<xs:element minOccurs="0" name="accel" type="vector3"/>
							<xs:element minOccurs="0" name="falltime" type="xs:string"/>
							<xs:element minOccurs="0" name="speed" type="xs:string"/>
							<xs:element minOccurs="0" name="elevation" type="xs:string"/>
							<xs:element minOccurs="0" name="azimuth" type="xs:string"/>
							<xs:element minOccurs="0" name="opening" type="xs:string"/>
							<xs:element minOccurs="0" name="rectparticles">
								<xs:complexType>
									<xs:attribute name="w"/>
									<xs:attribute name="h"/>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="totaltime"/>
							<xs:element minOccurs="0" name="startpos">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="emitfixed" type="vector3"/>
										<xs:element minOccurs="0" name="emitbox">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="min" type="vector3"/>
													<xs:element name="max" type="vector3"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="emitsphere">
											<xs:complexType>
												<xs:attribute name="x"/>
												<xs:attribute name="y"/>
												<xs:attribute name="z"/>
												<xs:attribute name="p"/>
												<xs:attribute name="q"/>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="emitcylinder">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="min" type="vector3"/>
													<xs:element name="max" type="vector3"/>
												</xs:sequence>
												<xs:attribute name="p"/>
												<xs:attribute name="q"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="startspeed">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="emitfixed" type="vector3"/>
										<xs:element minOccurs="0" name="emitbox">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="min" type="vector3"/>
													<xs:element name="max" type="vector3"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="emitcylindertangent">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="min" type="vector3"/>
													<xs:element name="max" type="vector3"/>
												</xs:sequence>
												<xs:attribute name="p"/>
												<xs:attribute name="q"/>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="emitsphere">
											<xs:complexType>
												<xs:attribute name="x"/>
												<xs:attribute name="y"/>
												<xs:attribute name="z"/>
												<xs:attribute name="p"/>
												<xs:attribute name="q"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="startaccel">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="emitfixed" type="vector3"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="aging">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="color"/>
										<xs:element name="time"/>
										<xs:element name="alpha"/>
										<xs:element name="swirl"/>
										<xs:element name="rotspeed"/>
										<xs:element name="scale"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="regularparticles">
								<xs:complexType>
									<xs:attribute name="sides"/>
									<xs:attribute name="radius"/>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="attractor">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="emitfixed" type="vector3"/>
										<xs:element minOccurs="0" name="emitbox">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="min" type="vector3"/>
													<xs:element name="max" type="vector3"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="attractorforce"/>
							<xs:element minOccurs="0" name="originbox">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="min" type="vector3"/>
										<xs:element name="max" type="vector3"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="direction" type="vector3"/>
							<xs:element minOccurs="0" name="source" type="vector3"/>
							<xs:element minOccurs="0" name="directional" type="vector3"/>
							<xs:element minOccurs="0" name="layer">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="scale"/>
										<xs:element minOccurs="0" name="hazebox">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="min" type="vector3"/>
													<xs:element name="max" type="vector3"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="hazecone">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="min" type="vector3"/>
													<xs:element name="max" type="vector3"/>
												</xs:sequence>
												<xs:attribute name="p"/>
												<xs:attribute name="q"/>
												<xs:attribute name="number"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="action"/>
							<xs:element name="moveable"/>
							<xs:element name="numrim"/>
							<xs:element name="radius" type="vector3"/>
							<xs:element name="shift" type="vector3"/>
							<xs:element name="uv">
								<xs:complexType>
									<xs:attribute name="u"/>
									<xs:attribute name="v"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="reversed"/>
							<xs:element name="isolevel"/>
							<xs:element name="charge"/>
							<xs:element name="rate"/>
							<xs:element name="truemap"/>
							<xs:element name="texscale"/>
							<xs:element name="smooth"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="lmcache" type="xs:string"/>
				<xs:element minOccurs="0" name="priority" type="xs:string"/>
				<xs:element minOccurs="0" name="ztest"/>
				<xs:element minOccurs="0" name="move">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element ref="matrix"/>
							<xs:element ref="v"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" name="hardmove">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element ref="matrix"/>
							<xs:element ref="v"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" name="key">
					<xs:complexType>
						<xs:attribute name="name"/>
						<xs:attribute name="value"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="zuse"/>
				<xs:element ref="meshobj"/>
				<xs:element name="znone"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="v">
		<xs:annotation>
			<xs:documentation>vertex type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute default="0" name="x" type="xs:float" use="optional"/>
			<xs:attribute default="0" name="y" type="xs:float" use="optional"/>
			<xs:attribute default="0" name="z" type="xs:float" use="optional"/>
			<xs:attribute name="u" use="optional"/>
			<xs:attribute name="v" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="vector3">
		<xs:attribute name="x"/>
		<xs:attribute name="y"/>
		<xs:attribute name="z"/>
	</xs:complexType>
	<xs:element name="color">
		<xs:complexType>
			<xs:attribute name="red"/>
			<xs:attribute name="green"/>
			<xs:attribute name="blue"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="p">
		<xs:annotation>
			<xs:documentation>Poligon type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element maxOccurs="unbounded" minOccurs="0" name="v" type="xs:string"/>
				<xs:element minOccurs="0" name="material" type="xs:string"/>
				<xs:element minOccurs="0" name="cosfact" type="xs:string"/>
				<xs:element minOccurs="0" name="texmap">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element name="plane" type="xs:string"/>
							<xs:element ref="matrix"/>
							<xs:element ref="v"/>
							<xs:element name="orig" type="vector3"/>
							<xs:element name="first" type="vector3"/>
							<xs:element minOccurs="0" name="firstlen"/>
							<xs:element name="second" type="vector3"/>
							<xs:element minOccurs="0" name="secondlen"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" name="portal">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element name="sector" type="xs:string"/>
							<xs:element name="zfill"/>
							<xs:element name="maxvisit"/>
							<xs:element name="w" type="vector3"/>
							<xs:element name="clip"/>
							<xs:element ref="matrix"/>
							<xs:element name="mirror"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="lighting"/>
				<xs:element name="mixmode">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element name="add"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="alpha"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="world">
		<xs:annotation>
			<xs:documentation>The top-level of the world</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element name="textures">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element maxOccurs="unbounded" minOccurs="0" name="texture">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="file" type="xs:string"/>
										<xs:element minOccurs="0" name="transparent">
											<xs:complexType>
												<xs:attribute name="red"/>
												<xs:attribute name="green"/>
												<xs:attribute name="blue"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string"/>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="proctex">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="type" type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="materials">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element maxOccurs="unbounded" minOccurs="0" name="material">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" name="texture" type="xs:string"/>
										<xs:element minOccurs="0" name="layer">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="texture"/>
													<xs:element name="scale">
														<xs:complexType>
															<xs:attribute name="u"/>
															<xs:attribute name="v"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="mixmode">
														<xs:complexType>
															<xs:choice maxOccurs="unbounded" minOccurs="0">
																<xs:element name="add"/>
																<xs:element name="tiling"/>
																<xs:element name="alpha"/>
															</xs:choice>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" ref="color"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="sector">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element name="light">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="center" type="vector3"/>
										<xs:element name="radius"/>
										<xs:element ref="color"/>
										<xs:element minOccurs="0" name="dynamic"/>
										<xs:element minOccurs="0" name="halo">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded" minOccurs="0">
													<xs:element name="type"/>
													<xs:element name="seed"/>
													<xs:element name="numspokes"/>
													<xs:element name="roundness"/>
													<xs:element name="centermaterial"/>
													<xs:element name="spark1material"/>
													<xs:element name="spark2material"/>
													<xs:element name="spark3material"/>
													<xs:element name="spark4material"/>
													<xs:element name="spark5material"/>
													<xs:element name="intensity"/>
													<xs:element name="cross"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="meshref">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded" minOccurs="0">
										<xs:element name="factory"/>
										<xs:element name="priority"/>
										<xs:element name="move">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="v"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:attribute name="name"/>
								</xs:complexType>
							</xs:element>
							<xs:element ref="meshobj"/>
							<xs:element name="fog">
								<xs:complexType>
									<xs:attribute name="red"/>
									<xs:attribute name="green"/>
									<xs:attribute name="blue"/>
									<xs:attribute name="density"/>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:attribute name="name" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="plugins">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="plugin">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="name" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="start">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="sector"/>
							<xs:element name="position" type="vector3"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="renderpriorities">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="priority">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="level" type="xs:string"/>
										<xs:element name="sort" type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="meshfact">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="plugin" type="xs:string"/>
							<xs:element minOccurs="0" name="params">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded" minOccurs="0">
										<xs:element name="numvt"/>
										<xs:element name="numtri"/>
										<xs:element ref="v"/>
										<xs:element name="t">
											<xs:complexType>
												<xs:attribute name="v1"/>
												<xs:attribute name="v2"/>
												<xs:attribute name="v3"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="autonormals"/>
										<xs:element name="material"/>
										<xs:element name="frame">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="unbounded" ref="v"/>
												</xs:sequence>
												<xs:attribute name="name"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="action">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="unbounded" name="f">
														<xs:complexType>
															<xs:attribute name="name"/>
															<xs:attribute name="delay"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="name"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="skeleton">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded" minOccurs="0">
													<xs:element name="v"/>
													<xs:element name="limb">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="v"/>
																<xs:element name="transform">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="matrix">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element minOccurs="0" name="rotz"/>
																						<xs:element minOccurs="0" name="rotx"/>
																						<xs:element minOccurs="0" name="rotz"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name"/>
														</xs:complexType>
													</xs:element>
												</xs:choice>
												<xs:attribute name="name"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="smooth"/>
										<xs:element name="box">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="min" type="vector3"/>
													<xs:element name="max" type="vector3"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="curvecenter" type="vector3"/>
										<xs:element name="curvescale"/>
										<xs:element name="curvecontrol">
											<xs:complexType>
												<xs:attribute name="x"/>
												<xs:attribute name="y"/>
												<xs:attribute name="z"/>
												<xs:attribute name="u"/>
												<xs:attribute name="v"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="curve">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="name"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element ref="p"/>
										<xs:element name="fastmesh"/>
										<xs:element name="texlen"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="paramsfile"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="meshfact">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="plugin" type="xs:string"/>
										<xs:element minOccurs="0" name="params">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded" minOccurs="0">
													<xs:element name="numvt"/>
													<xs:element name="numtri"/>
													<xs:element ref="v"/>
													<xs:element name="t">
														<xs:complexType>
															<xs:attribute name="v1"/>
															<xs:attribute name="v2"/>
															<xs:attribute name="v3"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="autonormals"/>
													<xs:element name="material"/>
													<xs:element name="frame">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="unbounded" ref="v"/>
															</xs:sequence>
															<xs:attribute name="name"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="action">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="unbounded" name="f">
																	<xs:complexType>
																		<xs:attribute name="name"/>
																		<xs:attribute name="delay"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="skeleton">
														<xs:complexType>
															<xs:choice maxOccurs="unbounded" minOccurs="0">
																<xs:element name="v"/>
																<xs:element name="limb">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="v"/>
																			<xs:element name="transform">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="matrix">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element minOccurs="0" name="rotz"/>
																									<xs:element minOccurs="0" name="rotx"/>
																									<xs:element minOccurs="0" name="rotz"/>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="name"/>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
															<xs:attribute name="name"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="smooth"/>
													<xs:element name="box">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="min" type="vector3"/>
																<xs:element name="max" type="vector3"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element minOccurs="0" name="paramsfile"/>
										<xs:element minOccurs="0" name="move">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="v"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="addon">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="plugin" type="xs:string"/>
							<xs:element name="params">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded" minOccurs="0">
										<xs:element name="orig" type="vector3"/>
										<xs:element name="first" type="vector3"/>
										<xs:element name="firstlen" type="xs:string"/>
										<xs:element name="second" type="vector3"/>
										<xs:element name="secondlen" type="xs:string"/>
										<xs:element name="name"/>
										<xs:element name="material"/>
										<xs:element name="v"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="sequences">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element name="sequence">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded" minOccurs="0">
										<xs:element name="check">
											<xs:complexType>
												<xs:attribute name="trigger"/>
												<xs:attribute name="delay"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="rotate">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded" minOccurs="0">
													<xs:element name="roty"/>
													<xs:element ref="v"/>
													<xs:element name="rotx"/>
													<xs:element name="rotz"/>
												</xs:choice>
												<xs:attribute name="duration"/>
												<xs:attribute name="mesh"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="delay"/>
										<xs:element name="enable">
											<xs:complexType>
												<xs:attribute name="trigger"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="test">
											<xs:complexType>
												<xs:attribute name="trigger"/>
												<xs:attribute name="truesequence"/>
												<xs:attribute name="falsesequence"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="disable">
											<xs:complexType>
												<xs:attribute name="trigger"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="run">
											<xs:complexType>
												<xs:attribute name="sequence"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="fadelight">
											<xs:complexType>
												<xs:attribute name="light" use="optional"/>
												<xs:attribute name="red"/>
												<xs:attribute name="green"/>
												<xs:attribute name="blue"/>
												<xs:attribute name="duration"/>
												<xs:attribute name="light_par" use="optional"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="args">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded" minOccurs="0">
													<xs:element name="arg">
														<xs:complexType>
															<xs:attribute name="name"/>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="setfog">
											<xs:complexType>
												<xs:attribute name="sector"/>
												<xs:attribute name="red"/>
												<xs:attribute name="green"/>
												<xs:attribute name="blue"/>
												<xs:attribute name="density"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="fadefog">
											<xs:complexType>
												<xs:attribute name="sector"/>
												<xs:attribute name="red"/>
												<xs:attribute name="green"/>
												<xs:attribute name="blue"/>
												<xs:attribute name="density"/>
												<xs:attribute name="duration"/>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:attribute name="name"/>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="triggers">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element name="trigger">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded" minOccurs="0">
										<xs:element name="sectorvis">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded" minOccurs="0">
													<xs:element name="sphere">
														<xs:complexType>
															<xs:attribute name="x"/>
															<xs:attribute name="y"/>
															<xs:attribute name="z"/>
															<xs:attribute name="radius"/>
														</xs:complexType>
													</xs:element>
												</xs:choice>
												<xs:attribute name="sector"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="fire">
											<xs:complexType>
												<xs:choice maxOccurs="unbounded" minOccurs="0">
													<xs:element name="light">
														<xs:complexType>
															<xs:attribute name="light"/>
															<xs:attribute name="name"/>
														</xs:complexType>
													</xs:element>
												</xs:choice>
												<xs:attribute name="sequence"/>
												<xs:attribute name="delay" use="optional"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="onclick">
											<xs:complexType>
												<xs:attribute name="mesh"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="disable"/>
									</xs:choice>
									<xs:attribute name="name"/>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="collection">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded" minOccurs="0">
							<xs:element name="meshobj"/>
						</xs:choice>
						<xs:attribute name="name"/>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="matrix">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element minOccurs="0" name="scale">
					<xs:complexType>
						<xs:attribute default="1" name="x" type="xs:float" use="optional"/>
						<xs:attribute default="1" name="y" type="xs:float" use="optional"/>
						<xs:attribute default="1" name="z" type="xs:float" use="optional"/>
						<xs:attribute default="1" name="all" type="xs:float" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" name="rotx"/>
				<xs:element minOccurs="0" name="roty"/>
				<xs:element minOccurs="0" name="rotz"/>
				<xs:element minOccurs="0" name="m11"/>
				<xs:element minOccurs="0" name="m12"/>
				<xs:element minOccurs="0" name="m13"/>
				<xs:element minOccurs="0" name="m21"/>
				<xs:element minOccurs="0" name="m22"/>
				<xs:element minOccurs="0" name="m23"/>
				<xs:element minOccurs="0" name="m31"/>
				<xs:element minOccurs="0" name="m32"/>
				<xs:element minOccurs="0" name="m33"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mixmode">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element minOccurs="0" name="add"/>
				<xs:element minOccurs="0" name="copy"/>
				<xs:element minOccurs="0" name="transparent"/>
				<xs:element minOccurs="0" name="alpha">
					<xs:complexType/>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
